<div class="card m-2 position-relative my-5" appCardShadow shadowColor="rgba(0,0,0,0.35)" [zoomScale]="1.07">

  <!-- Dots dropdown -->
 @if(IsLogin.getUserRole()==='admin') {
  <div class="position-absolute" style="top: 0.5rem; left: 0.5rem; z-index: 1050;">
    <div class="dropdown" (clickOutside)="closeDropdown()">

      <button class="btn btn-light btn-sm border-0"
        type="button"
        (click)="toggleDropdown()"
        style="font-size: 1.5rem;">
        &#8942;
      </button>

      @if(dropdownOpen) {
        <ul class="dropdown-menu show">
          <li><a class="dropdown-item" style="cursor:pointer;" (click)="updateProduct(product)">Update</a></li>
          <li><a class="dropdown-item" style="cursor:pointer;" (click)="removeProduct(product.id)">Remove</a></li>
        </ul>
      }

    </div>
  </div>
}

  @if(product.stock === 0) {
    <div class="out-of-stock">Out of Stock</div>
  }

  <a [routerLink]="['/product', product.id]" class="text-decoration-none text-dark">
    <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text mt-2">Brand: {{ product.brand }}</p>
    </div>
  </a>

  <div class="card-body pt-0">
    <p class="card-text" (click)="toggleDescription()" style="cursor:pointer;">
      {{ product.description | truncate:60:showFullDescription }}
    </p>
    <small class="text-primary" (click)="toggleDescription()" style="cursor:pointer;">
      {{ showFullDescription ? 'Show less' : '' }}
    </small>
    <p class="card-text mt-2"><strong>Price: </strong>${{ product.price }}</p>
    @if(IsLogin.getUserRole()=='user')
   { <app-button [title]="'Buy'" [show]="product.stock > 0" (action)="handleBuy()"></app-button>}
  </div>

</div>  

<app-confirm-dialog
  [isVisible]="showConfirm"
  title="Delete Product"
  message="Are you sure you want to delete this product? This action cannot be undone."
  (confirmed)="onConfirmDelete()"
  (cancelled)="showConfirm = false"
/>

<app-form-dialog
  [isVisible]="showEdit"
  [product]="product"
  header="Update Product"
  (saved)="onConfirmUpdate($event)"
  (cancelled)="showEdit = false">
</app-form-dialog>