<div class="vh-100 d-flex justify-content-center align-items-center" style="background: url('background.jpg') no-repeat center center; background-size: cover;">
  <div class="card p-4 shadow" style="max-width: 450px; width: 100%; border-radius: 15px;">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h1 class="text-center">Sign Up</h1>

       <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="name"
          placeholder="Enter your username"
        />
        <div>
            @if (form.get('name')?.invalid && form.get('name')?.touched) {
             @if (form.get('name')?.errors?.['required']) {
                <p class="text-danger">Username is required  </p>
             }
             @if (form.get('name')?.errors?.['minlength']) {
                <p class="text-danger">Username must be at least 3 characters long</p>
             }
             @if (form.get('name')?.errors?.['pattern']) {
                <p class="text-danger">Username must contain only alphanumeric characters</p>
             }
            }   
        </div>
      </div>

      
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <div>
            @if (form.get('password')?.invalid && form.get('password')?.touched) {
             @if (form.get('password')?.errors?.['required']) {
                <p class="text-danger">Password is required  </p>
             }
             @if (form.get('password')?.errors?.['minlength']) {
                <p class="text-danger">Password must be at least 6 characters long</p>
             }
            }   
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Role</label>
        <select class="form-select" formControlName="role">
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>

      <button type="submit" class="btn btn-outline-dark w-100" [disabled]="form.invalid">Create Account</button>
    </form>
  </div>
</div>
